.main-section {
  &__container {
    width: 100vw;
    height: 90vh;

    position: relative;

    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../shared/dark-bg-2.png');
  }

  &__text {
    font-size: 30px;
    color: white;

    left: 50%;
    top: 44%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    .header {
      font-size: 10rem;
    }
  }
}

.second-section {
  &__container {
    height: 100vh;
    width: 100vw;

    position: relative;
  }

  &__box {
    margin: 1rem;
    width: 50%;

    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 5rem;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}
