.main-section__container {
  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../shared/background.jpg');
}

.main-section__text {
  margin: 10rem;
  font-size: 30px;
  color: white;

  .header {
    font-size: 5rem;
  }
}

.second-section__container {
  height: 100vh;
  width: 100vw;
  position: relative;

  .video__container {
    margin: 4rem 0;
    width: 100%;
    position: relative;
    top: 19px;
  }
}
