.main-section {
  &__container {
    width: 100vw;
    height: 90vh;

    position: relative;

    text-align: center;

    background-color: rgba(222, 222, 222, 0.772);
  }

  &__text {
    font-size: 30px;

    left: 50%;
    top: 44%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    .header {
      font-size: 10rem;
    }
  }
}
