.footer__container {
  width: 100%;
  height: 40vh;

  margin-top: 0rem;

  background-color: #111;
}

.footer__link {
  i {
    transition: all 0.2s ease-in !important;

    &:hover {
      transform: scale(1.4);
    }
  }
}

.github__link {
  i:hover {
    color: white !important;
  }
}

.linkedin__link {
  i:hover {
    color: #0e76a8 !important;
  }
}

.twitter__link {
  i:hover {
    color: #00acee !important;
  }
}
