.footer__container {
  width: 100vw;
  height: 40vh;

  margin-top: 10rem;

  background-color: #111;
}

.footer__link {
  i:hover {
    transform: scale(1.3);
  }
}

.github__link {
  i:hover {
    color: white !important;
  }
}

.linkedin__link {
  i:hover {
    color: #0e76a8 !important;
  }
}

.twitter__link {
  i:hover {
    color: #00acee !important;
  }
}
